#container {
  display: flex;
  flex-direction: column;
}

#subcontainer {
  display: flex;
}

#maincontainer {
  display: flex;
  flex-direction: column;
  /* container is also item of subcontainer */
  flex-grow: 1;
  background-color: orange;
}

@media screen and (max-width:768px) {
  #subcontainer {
    flex-direction: column;
  }
}